# Fixing permissions of packaged gems

commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
      "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_fixing_permission.sh":
        content: |
            #!/usr/bin/env bash

            # prevent file permission problem that causes assets precompilation to fail
            chmod -R 1777 /opt

            sudo chmod 777 /var/app/current/tmp/
            sudo chmod +t /var/app/current/tmp/

            chmod 777 /var/app/current/tmp/
            chmod +t /var/app/current/tmp/

            if [ -d /opt/elasticbeanstalk/containerfiles ]
            then
              . /opt/elasticbeanstalk/containerfiles/envvars
            elsif [ -d /opt/elasticbeanstalk/support ] then
              . /opt/elasticbeanstalk/support/envvars
            fi

            CACHE_GEM_DIR=$EB_CONFIG_APP_ONDECK/vendor/cache
            DB_DIR=$EB_CONFIG_APP_ONDECK/db

            if [ -d $CACHE_GEM_DIR ]
            then
              chown -R webapp:webapp $CACHE_GEM_DIR
              echo "Modified the owner of $CACHE_GEM_DIR files"
            else
              echo "Nothing in $CACHE_GEM_DIR"
            fi

            if [ -d $DB_DIR ]
            then
              chown -R webapp:webapp $DB_DIR
              echo "Modified the owner of $DB_DIR files"
            else
              echo "Nothing in $DB_DIR"
            fi

            true
        mode: "000755"

      "/opt/elasticbeanstalk/hooks/appdeploy/post/99_allow_write_on_tmp.sh":
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            . /opt/elasticbeanstalk/support/envvars

            sudo chmod 777 /var/app/current/tmp/
            sudo chmod +t /var/app/current/tmp/
            chmod 777 /var/app/current/tmp/
            chmod +t /var/app/current/tmp/

            sudo chmod 777 /var/app/current/tmp/uploads/
            sudo chmod +t /var/app/current/tmp/uploads/
            chmod 777 /var/app/current/tmp/uploads/
            chmod +t /var/app/current/tmp/uploads/

            true
        mode: "000755"
